[submodule "ride-off-smart-ride-app-docs"]
	path = ride-off-smart-ride-app-docs
	url = https://github.com/vijay010498/ride-off-smart-ride-app-docs.git
[submodule "ride-off-smart-ride-app-auth-service"]
	path = ride-off-smart-ride-app-auth-service
	url = https://github.com/vijay010498/ride-off-smart-ride-app-auth-service.git
[submodule "ride-off-smart-ride-app-admin-react"]
	path = ride-off-smart-ride-app-admin-react
	url = https://github.com/vijay010498/ride-off-smart-ride-app-admin-react.git
[submodule "ride-off-smart-ride-app-verification-service"]
	path = ride-off-smart-ride-app-verification-service
	url = https://github.com/vijay010498/ride-off-smart-ride-app-verification-service.git
[submodule "ride-off-smart-ride-app-flutter"]
	path = ride-off-smart-ride-app-flutter
	url = https://github.com/vijay010498/ride-off-smart-ride-app-flutter.git
